* {
  box-sizing: border-box;
}

*::before, *::after{
  box-sizing: inherit;
}

body {
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid-item {
  width: calc(100% / 3);
  float: left;

  padding: .5rem;
}

.main-image {
  width: 100%;


  border: 1px solid lightgrey;
}

.left-hand {
  color: lightgrey;
  float: left;
}

.right-hand {
  color: lightgrey;
  float: right;
}

.item-caption {
  width: calc(100% / 3);

  line-height: 1rem;
  display: inline;
  overflow: auto;

  border-bottom: 1px solid lightgrey;
}

.shrunken-image {
  width: 1.2rem;
  vertical-align: text-bottom;
}
